<%- include('./partials/header.ejs') %>
<a class="link" href="/">Go Back<a>
    <div class="container">
      <h2>My Notes</h2>
      <div class="segment">
        <div class="items">
          <% notes.forEach(function(note){ %>
          <div class="item">
            <div class="content">
              <a class="header" href="/notes/<%= note._id %>"><%= note.title %></a>
              <div class=" meta">
                <span><%= note.created.toDateString() %>...</span>
              </div>
              <div class="description">
                <p><%- note.content.substring(0,50) %>...</p>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
    </div>

    <%- include('./partials/footer.ejs') %>
